#bg{
    background: url('images/house.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-origin: content-box, padding-box;
    background-color:rgb(102, 181, 226);
    color: bisque;
}
